fastapi
uvicorn
pydantic
sqlalchemy
alembic
psycopg2-binary
python-dotenv
pytest
pytest-asyncio
httpx
redis
python-jose
passlib
python-multipart
flake8
black
isort
ruff
packaging
pydantic-settings
asyncpg
minio
boto3
aiobotocore
aiosqlite>=0.19.0
